

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;

}

html{
  height:100%;
}

body {
  background-color: #E9E9E9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  height: 100%;
  width: 100%;

}
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* navigation styles big screen*/

nav {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #360033;
}

ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}



a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

/* end nav styles big screen */

/* nav styles smaler screen */
@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    top:60px;
    height:400px;
    z-index: 100;
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.763);
    
  }
  div.hamburger.active{
    background-color:transparent;
  }
  .active a{
    color:white;
  }
}

/* end nav styles smaler screen */

/* nav styles 480px screen */

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}


/* end of 480px screen */
/* slider styles */

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }
  
    /* end slider styles */
/* start section styles for quiz */
    section{
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    }

    .game-quiz-container{
      width: 40rem;
      height: 30rem;
      background-color: lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 30px;
  }
  
  .game-details-container{
      width: 80%;
      height: 4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .game-details-container h1{
      font-size: 1.2rem;
  }
  
  .game-question-container{
      width: 80%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid darkgray;
      border-radius: 25px;
  }
  
  .game-question-container *
  {
      font-size: 1.1rem;
      text-align: center;
      padding: 3px;
  }
  
  .game-options-container{
      width: 80%;
      height: 12rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
  }
  
  .game-options-container span{
      width: 45%;
      height: 3rem;
      border: 2px solid darkgray;
      border-radius: 20px;
      overflow: hidden;
  }
  section span label{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.3s;
      font-weight: 600;
      color: rgb(22, 22, 22);
  }
  
  section span label:hover{
      -ms-transform: scale(1.12);
      -webkit-transform: scale(1.12);
      transform: scale(1.12);
      color: white;
  }
  
  input[type="radio"] {
      position: relative;
      display: none;
  }
  
  
  input[type=radio]:checked ~ .option {
    background: paleturquoise;
  }
  
  .next-button-container{
      width: 50%;
      height: 3rem;
      display: flex;
      justify-content: center;
  }
  .next-button-container button{
      width: 8rem;
      height: 2rem;
      border-radius: 10px;
      background: none;
      color: rgb(25, 25, 25);
      font-weight: 600;
      border: 2px solid gray;
      cursor: pointer;
      outline: none;
  }
  .next-button-container button:hover{
      background-color: rgb(143, 93, 93);
  }
  
  .modal-container{
      display: none;
      position: fixed;
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      -webkit-animation: fadeIn 1.2s ease-in-out;
      animation: fadeIn 1.2s ease-in-out;
  }
  
  .modal-content-container{
      height: 20rem;
      width: 25rem;
      background-color: rgb(43, 42, 42);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 25px;
  }
  
  .modal-content-container h1{
      font-size: 1.3rem;
      height: 3rem;
      color: lightgray;
      text-align: center;
  }
  
  .grade-details{
      width: 15rem;
      height: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
  
  .grade-details p{
      color: white;
      text-align: center;
  }
  
  .modal-button-container{
      height: 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .modal-button-container button{
      width: 10rem;
      height: 2rem;
      background: none;
      outline: none;
      border: 1px solid rgb(252, 242, 241);
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 20px;
  }
  .modal-button-container button:hover{
      background-color: rgb(83, 82, 82);
  }
  /* end section styles for quiz */
  /* the same quiz styles but for small screen */
  @media(min-width : 300px) and (max-width : 350px){
      .game-quiz-container{
          width: 90%;
          height: 80vh;
       }
       .game-details-container h1{
          font-size: 0.8rem;
       }
   
       .game-question-container{
          height: 6rem;
       }
       .game-question-container h1{
         font-size: 0.9rem;
      }
   
      .game-options-container span{
          width: 90%;
          height: 2.5rem;
      }
      .game-options-container span label{
          font-size: 0.8rem;
      }
      .modal-content-container{
          width: 90%;
          height: 25rem;
      }
      
      .modal-content-container h1{
          font-size: 1.2rem;
      }
  }
  
  @media(min-width : 350px) and (max-width : 700px){
     .game-quiz-container{
         width: 90%;
         height: 80vh;
      }
      .game-details-container h1{
          font-size: 1rem;
      }
  
      .game-question-container{
          height: 8rem;
      }
  
      .game-question-container h1{
          font-size: 0.9rem;
       }
  
      .game-options-container span{
          width: 90%;
      }
      .modal-content-container{
          width: 90%;
          height: 25rem;
      }
      .modal-content-container h1{
          font-size: 1.2rem;
      }
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  /* end of quiz styles for small screens */

  /* start of your styles - add comments */

span {
  font-style: italic;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}


p {
    text-indent: 25px;
  font-size: 16px;
}


h3 {
    font-style: italic;
    font-weight: lighter ;
}

ul {
  margin-bottom: 0;

}


.floatTop, .floatBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    }
    /* had to re-arrange the box1-box4 parts so that they could work with lazyload */
    .box1, .box2, .box3, .box4 {
        width: 50%;
        height: 300px;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-size: 20px;
        color: white;
    }
    #text {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 15px;
    }
    

    .container4 > div{
      display:flex;
    }
/* used random sizes just for testing */
    .chesse div img{
      width:400px;
      height:400px;
    }

    .row{flex-direction: row;
    }

    /* used flex to arrange the boxes */
    .row-reverse{flex-direction: row-reverse;
    }
    /* commented the old classes for now
    
    .box1 {
        float: left;
    
    }
    
    .box2 {
        float: right;
    
    }
    
    .box3 {
        float: left;
    
    }
    
    .box4 {
        float: right;
    
    } */
main {
    padding: 20px;
}


footer{
  padding:40px 25px;
  background-color:#E9E9E9;;
}
footer a {
  text-decoration:none;
    display: inline-block;
    padding:15px 10px;
    font-size: 14px;
}



footer a:hover {
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
}

/* end of your styles add comments */


/* navigation styles big screen*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;}


body {
  height: 100vh;
  width: 100%;
  
}

span {
  font-style: normal;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}


.linkOnHover, a {
  color: #333;
}
a :hover{
  text-decoration:underline;

}
  
.mermaid {

}

h1, h2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h3 {
    font-style: italic;
    font-weight: lighter;
    font-size: medium;
  
    font-family: 'Open Sans', sans-serif;
}

ul {
  margin-bottom: 0;

}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* 4 boxes*/
.container4 {
  margin: 20px;
}
.floatTop, .floatBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    gap: 20px;
    }
    
    .box1, .box2, .box3, .box4 {
      width: 320px;
      height: 180px;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-size: 20px;
        color: white;
        gap: 20px;
        
       
    }
    #text {
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 15px;
    }
    
     
    .box1 {
      float: left;
      background-image: url("assets/red-light.jpg");
      background-size: 30vp;
  }
  
  .box2 {
    background-image: url("assets/berlin.jpg");
      float: right;
      background-color: burlywood;
  }
  
  .box3 {
    background-image: url("assets/tv-tower.jpg");
      float: left;
      background-color: lightpink;
  }
  
  .box4 {
    background-image: url("assets/market-halle.jpg");
      float: right;
      background-color: darksalmon;
main {
    padding: 20px;
}
/* p1 p2 p3 p4*/
.chess {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
}
.p1, .p3 {
  width:50%;
  text-align: center;
  float:left;
  padding:20px;
}
.p2, .p4 {
float:right;
width:50%;
text-align: center;
}
img {
  max-width: 100%;
  max-height: 100%;

}
.img4 {
  float:right
}
.nav-menu li {
  list-style: none;
  padding: 0 1rem;

}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
/* footer*/

footer a:hover {
  margin-left: 10px;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
}

footer a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15x;
  font-size: 14px;
}

ul a:hover {
    font-style: italic;
}
li {
    margin-bottom: 10px;
}

a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}




@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }

}


/* slider styles */



